---
Language: Cpp
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 160
SpaceAfterTemplateKeyword: true
Standard: c++20
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: -2
UseTab: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentRequires: true
IncludeCategories:
    # Headers in <> with .h extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.h>'
      Priority: 10
    # Headers in <> with .hpp extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
      Priority: 20
    # Headers in <> without extension.
    - Regex: '<([A-Za-z0-9\/-_])+>'
      Priority: 30
PointerAlignment: Left
QualifierAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:	false
  AfterStruct: false
  AfterControlStatement:	false
  AfterEnum:	false
  AfterFunction:	true
  AfterObjCDeclaration:	false
  AfterUnion:	false
  BeforeCatch:	false
  BeforeElse:	true
  IndentBraces:	false